$primary: #493548;
$secondary: #4b4e6d;
$tertiary: #6a8d92;

body {
  text-align: center;
  color: $secondary;
  background-image: linear-gradient(90deg, #80b192, #a1e887, yellow);
}

.table {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  table {
    tr {
      th {
        text-decoration: underline;
        border-bottom: 2px solid $secondary;
        background-color: $tertiary;
        font-size: x-large;
        width: auto;
        border-radius: 5px;
      }
      td {
        border: 2px solid $secondary;
        color: $primary;
        font-weight: 600;
        font-size: large;
        width: auto;
        border-radius: 5px;
        background-color: $tertiary;
      }
    }
  }
}

label {
  text-decoration: underline;
}

button {
  background-color: $tertiary;
  border-color: $secondary;
  height: 2rem;
  width: auto;
  border-radius: 5px;
  font-size: medium;
  color: $secondary;
}

#update {
  margin-left: 10px;
  background-color: lighten($tertiary, 25%);
  border-radius: 5px;
}

.update {
  margin-left: 10px;
}

.reward {
  font-size: xx-large;
}

#add {
  margin-left: 10px;
  margin-right: 10px;
  background-color: lighten($tertiary, 25%);
  border-radius: 5px;
}

#addButton {
  width: auto;
  height: auto;
}

#updateButton {
  margin-left: 10px;
  width: auto;
  height: auto;
}

#addUpdate {
  margin-top: 0px;
  margin-bottom: 50px;
  color: darkslategray;
}

#addDiv {
  margin-bottom: 10px;
}

h1 {
  margin-top: 50px;
  text-decoration: underline;
}

#num {
  width: 2rem;
  margin-left: 10px;
  background-color: lighten($tertiary, 25%);
  border-radius: 5px;
}

#update {
  width: 10rem;
}

.flexBoy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

img {
  margin: 10px;
  height: 350px;
  width: 350px;
  padding: 10px;
  display: block;
  background-color: $secondary;
}

#book {
  height: 500px;
  margin-left: 75px;
}

.twopics {
margin-left: 200px;
}
